body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    text-align: left;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
    
}


#Profilowe {
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 6px;
}


.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    object-fit: contain;
    margin-right: 8px;
}

.layout {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.left-column {
    grid-column: 1;
    margin-right: 20px;
}

.right-column {
    grid-column: 2;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    
}

#About_Me {
    font-size: 18px;
    line-height: 1.6;
    color: #36971e;

}
